body {
  background-image: url("../img/green_dust_scratch.png");
  text-align: center;
}



/* .uneaten {
  background-color: blue;
}
.eaten {
  background-color: blueviolet;
} */

  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  